body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-family:"微软雅黑";
	overflow: hidden;
}
.pd-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 20px;
	background: #015E9E;
    line-height: 60px;
    color: #fff;
	z-index: 99;
}
.pd-header h1 {
	display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
}
.pd-header button {
	float: right;
	margin-left: 15px;
	margin-top: 13px;
}
.pd-main {
	position: relative;
	padding-top: 60px;
	padding-left: 400px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.pd-day {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 60px;
	padding: 0 20px 60px 10px;
	width: 150px;
	height: 100%;
	background: #fff;
	overflow: auto;
}
.pd-day ul {   
    margin: 20px 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}
.pd-day ul li {
	position: relative;
	margin: 0 5px 10px 5px;
    padding: 5px 10px;
    border: none;
    height: 40px;
    background: #d9edf7;
    line-height: 30px;
    font-size: 1.2em;
    font-weight: bold;
    color: #337ab7;
    cursor: pointer;
}
.pd-day ul li>button{
	display: none;
	margin-top: 2px;
}
.pd-day ul li.active {
    background: #337ab7;
    color: #fff;
}
.pd-day ul li.active>button{
	display: block;
}
.pd-day ul li.active:after {
    content: '';
    position: absolute;
    right: -15px;
    top: 10px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 10px dashed #286090;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.pd-day .ui-state-highlight {
	background: #FFF5BF;
	height: 40px;
	line-height: 30px;
}
.pd-spot {
	position: absolute;
	top: 0;
	left: 150px;
	margin-top: 60px;
	padding: 0 15px 60px 15px;
	border-left: 1px solid #ddd;
	border-right: 2px solid #31708f;
    width: 250px;
    height: 100%;
    background: #F9F8F8;
    overflow: auto;   
}
.pd-spot h2{
    margin-left: 5px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #286090;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}
.pd-spot ul {   
    margin: 20px 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}
.pd-spot ul li {
	position: relative;
	margin: 0 5px 10px 5px;
	padding: 0 30px 0 5px;
	border: none;
	border-radius: 5px;
	height: 30px;
	background: #CCFF99;
	line-height: 30px;
	text-align: center;
	color: #3399CC;
	cursor: pointer;
	overflow: hidden;
}
.pd-spot ul li>button{
    position: absolute;
    right: 10px;
    top: 2px;
}
.pd-spot ul li.active {
    background: #337ab7;
    color: #fff;
}
.pd-spot ul li>input {	
    padding-left: 5px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    height: 24px;
    line-height: 24px;
}
.pd-spot .ui-state-highlight {
	background: #FFF5BF;
	height: 30px;
	line-height: 30px;
}
.pd-map {
	width: 100%;
	height: 100%;
}